## .NET MAUI / .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.dbmdl
*.jfm
launchSettings.json

## Rider
.idea/

## VS Code
.vscode/

## macOS
.DS_Store

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
